.MovieLibrary {
  text-align: center;
  height: 100vh;
  width: 100vw;
    
  
}

.ML-logo {
  position: relative;
  left:-5%;
  height: 100%;
}

.ML-header {
  background-color: #4D27DC;
  height: 4%;
  padding: 20px;
  color: white;
  display:flex;
  justify-content:space-around;
  align-items:center;

}

.ML-title {
  font-size: 1.8em;
  font-family: Fieldwork, Arial, san-serif !important;
}

.ML-intro {
  font-size: large;
}

@keyframes ML-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}
