.movies-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.movies-list  .items {
  width: 100%;
  border:solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.expanded-movie-item {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.expanded-movie-item h4 {
  display: inline;
}

.expanded-movie-item  > .description {
  display: flex;
  flex-direction: column;
}

.movie-list-item {
  cursor: pointer;
}

.movie-list-item.selected {
  text-decoration: underline;
}